.landing-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.landing-main {
  flex: 1 0 auto;
  margin-top: 70px;
  margin-bottom: 0;
}

app-footer {
  width: 100%;
}
