<div class="login-container">
  <div class="login-form-col">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Iniciar Sesión</h2>
      <div class="form-group">
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Correo electrónico"
        />
        <div
          *ngIf="
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
          "
          class="error-msg"
        >
          <span *ngIf="loginForm.get('email')?.errors?.['required']"
            >El correo es obligatorio.</span
          >
          <span *ngIf="loginForm.get('email')?.errors?.['email']"
            >Correo no válido.</span
          >
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
      <div class="login-links">
        <small class="text-muted">
          Si tienes problemas para iniciar sesión, por favor contacta a nuestro
          equipo de soporte.
        </small>
      </div>
    </form>
  </div>
  <div class="login-image-col">
    <img
      src="https://garbrix.com/enteratelo/assets/images/login.jpg"
      alt="Login Side"
    />
  </div>
</div>
